{% extends 'base.html.twig' %}

{% block title %}{{ 'edit.post'|trans|capitalize }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="{{ 'save'|trans|capitalize }}"/>
        <a href="javascript:history.back()">{{ 'cancel'|trans|capitalize }}</a>
    {{ form_end(form) }}
{% endblock %}